= paginate @movies
.container
  .row.hidden-md-up
    - @movies.each do |result|
      .col-md-3.d-flex
        .card
          - img_src = result['poster_path'] ? "https://image.tmdb.org/t/p/original/#{result['poster_path']}" : 'dummy-image-square.jpg'
          = image_tag img_src, class: 'card-img-top'
          .card-body
            %h5.card-title
              = result['title']
            %p.card-text
              = result['overview'].truncate(300, omission: '...')
    